@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --primary: #2D336B;
  --secondary: #7886C7;
  --accent: #A9B5DF;
  --background: #FFF2F2;
  --text: #2D336B;
  --foreground: #2D336B;
}

.dark {
  --primary: #FFF2F2;
  --secondary: #A9B5DF;
  --accent: #7886C7;
  --background: #2D336B;
  --text: #FFF2F2;
  --foreground: #FFF2F2;
}

body {
  color: var(--foreground);
  background: var(--background);
}

